body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
}

nav{
    background-color: rgb(78, 78, 78);
    padding: 25px;
}

nav ul{
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    
}

nav ul li a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    
    
    
}

.estudios{
    
    justify-content: right;
}

.gris{
    background-color: rgb(60, 60, 60);
    
}

.azul{
  background-color: rgb(0, 0, 110);
  color: white;
}

button a{
    color: white;
    text-decoration: none;
   
}